@model Inforvet.Models.Utente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://cdn-icons-png.flaticon.com/512/194/194279.png"><span class="font-weight-bold">@Html.DisplayFor(model => model.Name)</span><span> </span></div>
        </div>
        <div class="col-md-7 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Detalhes do Animal</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Nome</label><input disabled type="text" class="form-control" value="@Html.DisplayFor(model => model.Name)"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Raça</label><input disabled type="text" class="form-control" value="@Html.DisplayFor(model => model.Race)"></div>
                    <div class="col-md-6"><label class="labels">Sexo</label><input disabled type="text" class="form-control" value="@Html.DisplayFor(model => model.Sex)"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Peso</label><input disabled type="text" class="form-control" value="@Html.DisplayFor(model => model.Weight)"></div>
                    <div class="col-md-6"><label class="labels">Estado</label><input disabled type="text" class="form-control" value="@Html.DisplayFor(model => model.State)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>